* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    height: 200px; /* Increased height for more impact */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    background-image: url("../../../public/assets/Registration-background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Changed text color to white for better contrast */
    font-size: 24px; /* Increased font size for better readability */
    text-align: center; /* Center-align text */
    margin-bottom: 5%;
}

.form-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px; /* Increased gap for better spacing */
}

.item {
    gap: 10px;
    display: grid;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 16px); /* Adjusted width to account for padding */
    padding: 12px; /* Increased padding for better touch interaction */
    margin-top: 10px; /* Adjusted margin for better spacing */
    margin-bottom: 20px; /* Increased margin for better spacing */
    border: 2px solid #ff95e8; /* Changed border color to pink */
    border-radius: 8px; /* Increased border radius for a softer look */
    box-sizing: border-box;
    font-size: 16px; /* Increased font size for better readability */
}

input[type="submit"],
input[type="button"] {
    background-color: #ca08a0;
    color: white;
    padding: 14px 24px; /* Increased padding for better touch interaction */
    border: none;
    border-radius: 20px; /* Increased border radius for a softer look */
    cursor: pointer;
    width: 60%; /* Adjusted width for better proportion */
    font-size: 18px; /* Increased font size for better readability */
    text-transform: uppercase; /* Converted text to uppercase */
    transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #eb54ac; /* Darker pink on hover */
}
.registration-buttons {
    margin: auto; /* Center-align buttons */
    margin-top: 40px; /* Increased top margin for better spacing */
    display: flex;
    margin-left: 10%;
    justify-content: space-between; /* Space evenly between buttons */
    max-width: 300px; /* Limit width to prevent overflow */
}
#submit{
    margin-left: 150%;
}
#cancel{
    margin-left: 30%;
}
