.manage-venue-outer-container{
    border: 3px solid lightgray;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 10px;
    width:30%;
    padding: 10px 20px;
}
.manage-venue-outer-container-title{
    font-weight: 700;
    font-size: x-large;
    text-align: start;
    margin-bottom: 2%;
}
.manage-venue-outer-container-subtitle{
    text-align: start;
    font-size: medium;
    color: gray;
}
.button-group{
    margin: auto;
    width: 80%;
    margin-top: 3%;
}
.button-group>input[type="button"]{
    color: whitesmoke;
    background-color: black;
}
.button-group>input[type="button"]:last-child{
    color: whitesmoke;
    background-color: #e91e1ea8;
}
.add{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 95% !important;
    text-align: start !important;
    margin: 0 !important;
    margin-top: 2% !important;
}
.category-crud-input>input[type="text"]{
    width: 100% !important;
    border: 1px solid lightgray;
}
.category-crud-buttons{
    margin: auto;
    display: grid;
    width: max-content;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.crud-form{
    width: 90% !important;
    margin-top: 2% !important;
    margin: auto;
}
.category-crud-buttons>input[type="button"]{
    background-color: #ffe9f7;
    font-weight: bold;
    border: 1px solid lightpink;
    color: #f535b8;
    width: 250px;
}
.category-crud-input-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: start;
    width: 100% ;
}
.category-crud-input-images-section{
    display: grid;
    grid-template-columns: 15% 60%;
    gap: 20px;
    width: 100% !important;
    margin: auto;
    text-align: start;
    align-items: center;
}
.category-crud-input-images>.category-crud-input>input[type="text"]{
    width: 255px !important;
}